@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookish</h1>
    <ul>
        <li>
            <a href="/library">Library</a>
        </li>
        <li>
            <a href="/members">Members</a>
        </li>
        <li>
            <a href="/loans">Library Loans</a>
        </li>
        
    </ul>
</div>
